<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Pedido asignado</title>
	<style> 
	
		#form6 {
				text-align: center;
			}
	</style>

</head>
<body>

   
	<form id="form6" action ="/example/web/checkout" name="carritoActualizado" method="post" > 
    
    <label> <font color="blue" size=7>CONTENIDO ACTUALIZADO DEL CARRITO</font> </label><br><br><br>

    <table border="5px" align="center">

<tr>
  <td rowspan="5"><img src="{{url}}"></td>
  <td> <strong> {{nombre}} </strong> </td>
</tr>
 
<tr>
   <td> <strong> Cantidad solicitada = {{cantidad}} </strong> </td>
</tr>

<tr>
   <td> <strong> Precio = {{precio}} </strong> </td>
</tr>

<tr>
   <td> <strong> Subtotal = {{subtotal}} </strong> </td>
</tr>

<tr>
   <td> <strong> <button name="Check" type="submit" > Checkout </button> </strong> </td>
</tr>


</table>
    	
      <input type="hidden" name="url" value="{{url}}"> <br>
      <input type="hidden" name="nombre" value="{{nombre}}"> <br>
      <input type="hidden" name="cantidad" value="{{cantidad}}"> <br>
      <input type="hidden" name="precio" value="{{precio}}"> <br>
      <input type="hidden" name="subtotal" value="{{subtotal}}"> <br>

	</form>
	
</body>

</html>