<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Pedido asignado</title>
	<style> 
	
		#form7 {
				text-align: center;
			}
	</style>

</head>
<body>

   
	<form id="form7" action ="/example/src/conecta.html" name="carritoCheck" method="post" > 

<label> <font color="blue" size=7>PROCESO DE CHECKOUT</font> </label><br><br><br>

<label> Nombre de tarjetahabiente </label>
<input type="text" name="NTH" value="{{NTH}}" readonly="readonly"> <br><br>

<label> Numero de tarjeta </label>
<input type="number" name="NTC" value="{{NTC}}" readonly="readonly"> <br><br>

<label> Codigo de Verificacion </label>
<input type="text" name="CVC" value="{{CVC}}" readonly="readonly"> <br><br>

<label> Fecha de vencimiento </label>
<input type="text" name="FE" value="{{FE}}" readonly="readonly"> <br><br>

    <table border="5px" align="center">

<tr>
  <td rowspan="5"><img src="{{url}}"></td>
  <td> <strong> {{nombre}} </strong> </td>
</tr>
 
<tr>
   <td> <strong> Cantidad solicitada = {{cantidad}} </strong> </td>
</tr>

<tr>
   <td> <strong> Precio = {{precio}} </strong> </td>
</tr>

<tr>
   <td> <strong> Subtotal = {{subtotal}} </strong> </td>
</tr>

<tr>
   <td> <strong> <button name="Fin" type="submit" > Realizar compra y Finalizar sesion </button> </strong> </td>
</tr>


</table>
    	
      </form>
	
</body>

</html>