<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Catalogo de productos</title>
	<style> 
	
		#form2 {
				text-align: center;
			}
	</style>
</head>
<body>
    <!-- -->
	
  <form id="form2" action ="intermedia?sku" name="catalogoProductos" method="get"> 
		
	<label> <font color="red" size=7>CATALOGO DE PRODUCTOS</font> </label><br><br><br>
	
<table border="5px" align="center">

<tr>
  <td><strong><font size=6>Imagen</font></strong></td>
  <td><strong><font size=6>Categoria</font></strong></td>
  <td><strong><font size=6>Producto</font></strong></td>
  <td><strong><font size=6>Precio</font></strong></td>
</tr>
 
<tr>  <!-- se recupera la variable y se indica con el . el campo que se desea -->
  <td> <img src="{{b0.URL_IMAGEN_GRANDE}}"></td>			
  <td> <strong> {{ c0.NOMBRE_ }} </strong> </td>
  <td> <strong> {{ b0.NOMBRE }} </strong> </td>
  <td> <strong> {{ b0.PRECIO }} </strong> </td>
  <td> <button name="sku" type="submit" value="{{b0.SKU}}"> Seleccionar </button> </td> 
</tr>

<tr>  
  <td> <img src="{{b1.URL_IMAGEN_GRANDE}}"></td>			
  <td> <strong> {{ c1.NOMBRE_ }} </strong> </td>
  <td> <strong> {{ b1.NOMBRE }} </strong> </td>
  <td> <strong> {{ b1.PRECIO }} </strong> </td>
  <td> <button name="sku" type="submit" value="{{b1.SKU}}"> Seleccionar </button> </td> 
</tr>

<tr>  
  <td> <img src="{{b2.URL_IMAGEN_GRANDE}}"></td>			
  <td> <strong> {{ c2.NOMBRE_ }} </strong> </td>
  <td> <strong> {{ b2.NOMBRE }} </strong> </td>
  <td> <strong> {{ b2.PRECIO }} </strong> </td>
  <td> <button name="sku" type="submit" value="{{b2.SKU}}"> Seleccionar </button> </td> 
</tr>

<tr>  
  <td> <img src="{{b3.URL_IMAGEN_GRANDE}}"></td>			
  <td> <strong> {{ c3.NOMBRE_ }} </strong> </td>
  <td> <strong> {{ b3.NOMBRE }} </strong> </td>
  <td> <strong> {{ b3.PRECIO }} </strong> </td>
  <td> <button name="sku" type="submit" value="{{b3.SKU}}"> Seleccionar </button> </td> 
</tr>

<tr>  
  <td> <img src="{{b4.URL_IMAGEN_GRANDE}}"></td>			
  <td> <strong> {{ c4.NOMBRE_ }} </strong> </td>
  <td> <strong> {{ b4.NOMBRE }} </strong> </td>
  <td> <strong> {{ b4.PRECIO }} </strong> </td>
  <td> <button name="sku" type="submit" value="{{b4.SKU}}"> Seleccionar </button> </td> 
</tr>

<tr>  
  <td> <img src="{{b5.URL_IMAGEN_GRANDE}}"></td>			
  <td> <strong> {{ c5.NOMBRE_ }} </strong> </td>
  <td> <strong> {{ b5.NOMBRE }} </strong> </td>
  <td> <strong> {{ b5.PRECIO }} </strong> </td>
  <td> <button name="sku" type="submit" value="{{b5.SKU}}"> Seleccionar </button> </td> 
</tr>

<tr>  
  <td> <img src="{{b6.URL_IMAGEN_GRANDE}}"></td>			
  <td> <strong> {{ c6.NOMBRE_ }} </strong> </td>
  <td> <strong> {{ b6.NOMBRE }} </strong> </td>
  <td> <strong> {{ b6.PRECIO }} </strong> </td>
  <td> <button name="sku" type="submit" value="{{b6.SKU}}"> Seleccionar </button> </td> 
</tr>

<tr>  
  <td> <img src="{{b7.URL_IMAGEN_GRANDE}}"></td>			
  <td> <strong> {{ c7.NOMBRE_ }} </strong> </td>
  <td> <strong> {{ b7.NOMBRE }} </strong> </td>
  <td> <strong> {{ b7.PRECIO }} </strong> </td>
  <td> <button name="sku" type="submit" value="{{b7.SKU}}"> Seleccionar </button> </td> 
</tr>

<tr>  
  <td> <img src="{{b8.URL_IMAGEN_GRANDE}}"></td>			
  <td> <strong> {{ c8.NOMBRE_ }} </strong> </td>
  <td> <strong> {{ b8.NOMBRE }} </strong> </td>
  <td> <strong> {{ b8.PRECIO }} </strong> </td>
  <td> <button name="sku" type="submit" value="{{b8.SKU}}"> Seleccionar </button> </td> 
</tr>

<tr>  
  <td> <img src="{{b9.URL_IMAGEN_GRANDE}}"></td>			
  <td> <strong> {{ c9.NOMBRE_ }} </strong> </td>
  <td> <strong> {{ b9.NOMBRE }} </strong> </td>
  <td> <strong> {{ b9.PRECIO }} </strong> </td>
  <td> <button name="sku" type="submit" value="{{b9.SKU}}"> Seleccionar </button> </td> 
</tr>

<tr>  
  <td> <img src="{{b10.URL_IMAGEN_GRANDE}}"></td>			
  <td> <strong> {{ c10.NOMBRE_ }} </strong> </td>
  <td> <strong> {{ b10.NOMBRE }} </strong> </td>
  <td> <strong> {{ b10.PRECIO }} </strong> </td>
  <td> <button name="sku" type="submit" value="{{b10.SKU}}"> Seleccionar </button> </td> 
</tr>

<tr>  
  <td> <img src="{{b11.URL_IMAGEN_GRANDE}}"></td>			
  <td> <strong> {{ c11.NOMBRE_ }} </strong> </td>
  <td> <strong> {{ b11.NOMBRE }} </strong> </td>
  <td> <strong> {{ b11.PRECIO }} </strong> </td>
  <td> <button name="sku" type="submit" value="{{b11.SKU}}"> Seleccionar </button> </td> 
</tr>

<tr>  
  <td> <img src="{{b12.URL_IMAGEN_GRANDE}}"></td>			
  <td> <strong> {{ c12.NOMBRE_ }} </strong> </td>
  <td> <strong> {{ b12.NOMBRE }} </strong> </td>
  <td> <strong> {{ b12.PRECIO }} </strong> </td>
  <td> <button name="sku" type="submit" value="{{b12.SKU}}"> Seleccionar </button> </td> 
</tr>

<tr>  
  <td> <img src="{{b13.URL_IMAGEN_GRANDE}}"></td>			
  <td> <strong> {{ c13.NOMBRE_ }} </strong> </td>
  <td> <strong> {{ b13.NOMBRE }} </strong> </td>
  <td> <strong> {{ b13.PRECIO }} </strong> </td>
  <td> <button name="sku" type="submit" value="{{b13.SKU}}"> Seleccionar </button> </td> 
</tr>

<tr>  
  <td> <img src="{{b14.URL_IMAGEN_GRANDE}}"></td>			
  <td> <strong> {{ c14.NOMBRE_ }} </strong> </td>
  <td> <strong> {{ b14.NOMBRE }} </strong> </td>
  <td> <strong> {{ b14.PRECIO }} </strong> </td>
  <td> <button name="sku" type="submit" value="{{b14.SKU}}"> Seleccionar </button> </td> 
</tr>

<tr>  
  <td> <img src="{{b15.URL_IMAGEN_GRANDE}}"></td>			
  <td> <strong> {{ c15.NOMBRE_ }} </strong> </td>
  <td> <strong> {{ b15.NOMBRE }} </strong> </td>
  <td> <strong> {{ b15.PRECIO }} </strong> </td>
  <td> <button name="sku" type="submit" value="{{b15.SKU}}"> Seleccionar </button> </td> 
</tr>

<tr>  
  <td> <img src="{{b16.URL_IMAGEN_GRANDE}}"></td>			
  <td> <strong> {{ c16.NOMBRE_ }} </strong> </td>
  <td> <strong> {{ b16.NOMBRE }} </strong> </td>
  <td> <strong> {{ b16.PRECIO }} </strong> </td>
  <td> <button name="sku" type="submit" value="{{b16.SKU}}"> Seleccionar </button> </td> 
</tr>

<tr>  
  <td> <img src="{{b17.URL_IMAGEN_GRANDE}}"></td>			
  <td> <strong> {{ c17.NOMBRE_ }} </strong> </td>
  <td> <strong> {{ b17.NOMBRE }} </strong> </td>
  <td> <strong> {{ b17.PRECIO }} </strong> </td>
  <td> <button name="sku" type="submit" value="{{b17.SKU}}"> Seleccionar </button> </td> 
</tr>

<tr>  
  <td> <img src="{{b18.URL_IMAGEN_GRANDE}}"></td>			
  <td> <strong> {{ c18.NOMBRE_ }} </strong> </td>
  <td> <strong> {{ b18.NOMBRE }} </strong> </td>
  <td> <strong> {{ b18.PRECIO }} </strong> </td>
  <td> <button name="sku" type="submit" value="{{b18.SKU}}"> Seleccionar </button> </td> 
</tr>

<tr>  
  <td> <img src="{{b19.URL_IMAGEN_GRANDE}}"></td>			
  <td> <strong> {{ c19.NOMBRE_ }} </strong> </td>
  <td> <strong> {{ b19.NOMBRE }} </strong> </td>
  <td> <strong> {{ b19.PRECIO }} </strong> </td>
  <td> <button name="sku" type="submit" value="{{b19.SKU}}"> Seleccionar </button> </td> 
</tr>

</table>
	
	</form>
	
</body>

</html>